.container {
    width: 50%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    border: 10px solid;
    font-family: 'Staatliches', cursive;

    border-color: #5229b0 #590090 ;
    
    color: white;
    background-color: black;
    box-shadow: 10px 10px 10px black;
    margin-left: 10%;
    
}

.formInput{
    width: 90%;
    height: 60%;
    margin: 5px
}
.formInput2{
    width: 90%;
    height: 60%;
    margin: 5px
}


.form-control {
    width: 98%;
    height: 33%;
    margin: 5%
}

.btn {
    margin-top: 20px;
    height: 50px;
    margin-left: 25%;
    font-family: 'Staatliches', cursive;
    width:70px;
    color: white;
    

}
 .btns {
    display: flex;
    flex-direction: row;
    
     height: 15%
 }

 h3{
    background-color: #3c90ce;
     padding: 5px;
     
     
 }

 .taskList{
      margin-right: 50%;
 }
 
 .task.reminder {
    border: 1px solid black;
    padding: 3px;
    box-shadow: 0px 0px 5px 5px white;
    
    

}
.para.reminder{
    border: 1px solid black;
    padding: 3px;
    box-shadow: 0px 0px 5px 5px #1ecac6;
}
.add-form {
    display: flex;
    flex-direction: column;
    padding: 2%

}

.submit {
    /* padding: 12px 16px; */
    /* border-radius: 8px; */
    font-family: 'Staatliches', cursive;
    width: 25%;
    color: white;
    box-shadow: 0px 0px 5px 5px white;
    background-color: #3c90ce;
    margin-top: 5px;
    
}

